---
layout: default
title: Kinobesuche
---
<h1>(Cine) Sneak</h1>
Als regelmäßiger Besucher der Sneak Priview habe ich natürlich auch eine
Meinung zu den gezeigten Filmen. Da diese aber meist zu komplex ist, um
sie in eine eindimensionale Bewertungsskala zu verpacken, möchte ich
hier nur darstellen, mit welchen Filmen ich zufrieden war und warum.<br>
Denn wenn ich eines gelernt habe: Auch mit einem weniger "guten" Film kann
man zufrieden sein.<br>
  {% include sneak-table.html %}

<h1>andere Filme</h1>
Neben der Sneak schau' ich mit gelegentlich auch mal andere Filme im Kino an
(Danke, Werbung vor der Sneak!!!11elf). Deren Bewertung möchte ich natürlich
ebenfalls nicht vorenthalten:
{% include kino-table.html %}

<sup>&#8902;</sup>(Benedikts beste binäre Bewertungs-Skala&trade;) bzgl.
Zufriedenheit
