<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  navbar-expand-md justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#">
        <img src="{{ '/assets/images/me.jpg' | relative_url }}" alt="mir" style="width:90px;">
      </a>
      {% for item in site.data.nav %}
      <li class="nav-item">
        <a class="nav-link" href="{{item.link}}">{{item.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
