<script src="/assets/js/b4s.js"></script>

<table class="table table-dark table-striped" style="margin-top:20px">
    <thead>
      <tr>
        <th>Film</th>
        <th>Datum</th>
        <th>B4S<sup>&#8902;</sup></th>
        <th>but why? (spoilerfrey)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in site.data.sneak-bew %}
        <tr>
          <td>{{item.film}}</td>
          <td>{{item.date}}</td>
          <td class="bewertung">{{ item.b4s }}</td>
          <td>{{item.why}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
